#toolbar {
  z-index: 11;
  font-size: 9pt;
  text-align: center;
  padding-bottom: 6px;
  position: fixed;
  right: 14px;
  top: 4px;
  user-select: none;
  height: 46px;
  box-sizing: border-box;
}

#story {
  padding-top: 46px;
}

#toolbar a {
  transition: none;
}

#toolbar a:not([disabled]):hover {
  color: #ccc;
}

#toolbar [disabled] {
  color: #aaa;
}

#toolbar > *:not(:last-child):after {
  content: " | ";
  color: white;
}

@media screen and (max-width: 980px) {
  #toolbar {
    padding-top: 24px;
    top: 0;
    left: 0;
    right: 0;
  }
}
